.imgRedonda {
    width: 70px;
    height: 40px;
    border-radius: 150px;
}

#cropped {

    height: 500px;
    overflow: hidden;

}

#invertir-color {
    filter: invert(100%);

}

.color_Black{
    color: black;
    font-weight: bold;
}
#center{
    margin: 0 auto;
}
#biselado {
	background: #ffffff;  /* Fondo, debe ser más claro que el borde */
	border: 15px outset #727272;  /* Grosor del Borde */  /* Color del Borde */
	text-align: center;  /* Alineación del texto */
	text-shadow: -1px -1px rgba(0,0,0,.2);
}
.tamañoIMG {
    
    height: 800px;
    overflow: hidden;
}